
<!-- FEATURE EXTRACTION -->


<!doctype html>
<html>
    <head>
        <meta charset='utf-8'>
        <link rel="shortcut icon" href="static/favicon.ico">
        <link rel="stylesheet" type="text/css" href="static/css/stylePage.css">
        <link rel="stylesheet" type="text/css" href="static/css/stylesMenus.css">
        <link rel="stylesheet" type="text/css" href="static/css/popup.css">
        <link rel="stylesheet" type="text/css" href="static/css/sliderStyle.css">
        
        <link rel="stylesheet" type="text/css" href="static/libs/jquery-ui/jquery-ui.css">
        <script src="static/libs/jquery.js" type="text/javascript"></script>
        <script src="static/libs/jquery-ui/jquery-ui.js" type="text/javascript"></script>

        <style>
            body{
                font-family: "Trebuchet MS", sans-serif;
                margin: 8px;
            }
            .demoHeaders {
                margin-top: 2em;
            }
            #dialog-link {
                padding: .4em 1em .4em 20px;
                text-decoration: none;
                position: relative;
            }
            #dialog-link span.ui-icon {
                margin: 0 5px 0 0;
                position: absolute;
                left: .2em;
                top: 50%;
                margin-top: -8px;
            }
            #icons {
                margin: 0;
                padding: 0;
            }
            #icons li {
                margin: 2px;
                position: relative;
                padding: 4px 0;
                cursor: pointer;
                float: left;
                list-style: none;
            }
            #icons span.ui-icon {
                float: left;
                margin: 0 4px;
            }
            .fakewindowcontain .ui-widget-overlay {
                position: absolute;
            }
            select {
                width: 200px;
            }
        </style>
        
        <title>Seecology - Data Visualization Framework for Soundscape Ecology Applications</title>
    </head>

    <body>
        <!-- ########################################################################################################################## -->
        <!-- ### MENU BEGIN ########################################################################################################### -->
        <!-- ########################################################################################################################## -->
        
        <div id='cssmenu'>
            <ul>
                <li><a href='/'><span>HOME</span></a></li>
                
                <!--
                <li><a href='#'><span>Results</span></a>
                    <ul>
                        <li><a href='../scripts/indexFET1.php'><span>Feature Extraction Tool</span></a></li>                        
                        <li><a href='../scripts/indexFSDC.php'><span>Feature Selection by Distance/Correlation</span></a></li>                        
                    </ul>
                </li>
                -->

                <li><a href='#'><span>Contact</span></a>
                    <ul>
                        <li><a href='mailto:clausiusreis@gmail.com?Subject=SoundscapeVICG%20Framework'><span>Clausius Duque G. Reis (Author)</span></a></li>                  
                        <li><a href='mailto:cristina@icmc.usp.br?Subject=SoundscapeVICG%20Framework'><span>Maria Cristina F. de Oliveira (Advisor)</span></a></li>
                    </ul>
                </li>

                <li><a href=''><span id="dirtxt"></span></a></li>
            </ul>
        </div>
        

        <!-- ########################################################################################################################## -->
        <!-- ### MENU END ############################################################################################################# -->
        <!-- ########################################################################################################################## -->        



<script>
    if ("{{currentPath}}" != ""){
        document.getElementById("dirtxt").innerHTML = 
            "<font color='yellow'>Current path:&nbsp;</font><font color='lightgreen'>{{currentPath}}</font>";
    };
</script>

<div id="csscontent">
    
    <div id="title" class="roundDiv" align="center">
        <div align="center"><font size=5><strong>Boat Signature Extraction Tool</strong></font></div>
    </div>

    <div id="settings" class="roundDiv1" align="center">

        <fieldset style="width: 98%; height: auto; text-align: left; border-color: #FFFFFF;">
            <legend><strong>Extraction Settings</strong></legend>
            <form id="f1" name="f1" action="/set_data" method="POST">
                <table width="100%">
                    <tr>
                        <td width="100">
                            <b>Maximum Frequency of Analysis (Hz):&nbsp;</b>
                        </td>
                        <td>
                            <input id="maximumFrequency" name="maximumFrequency">   
                        </td>
                    </tr>
                    <tr>
                        <td width="100">
                            <b>Signal Detection Threshold:&nbsp;</b>
                        </td>
                        <td>
                            <select id="threshold" name="threshold">
                                <option value='1.0'>1.0 x Standard Deviation</option>
                                <option value='1.5' selected>1.5 x Standard Deviation</option>
                                <option value='2.0'>2.0 x Standard Deviation</option>
                                <option value='2.5'>2.5 x Standard Deviation</option>
                                <option value='3.0'>3.0 x Standard Deviation</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td width="300px">
                            <b>AudioChannel:&nbsp;</b>
                        </td>
                        <td>
                            <select id="audiochannel" name="audiochannel">
                                <option value='0' selected>Left</option>
                                <option value='1'>Right</option>
                            </select>         
                        </td>
                    </tr>    
                    <tr>
                        <td width="300px">
                            <b>Filename format:&nbsp;</b>
                        </td>
                        <td>
                            <input name="fileDateTimeMask" id="fileDateTimeMask">
                            <input id= "fileDateTimeMaskButton" type="button" value="Open filename date/time formating tool"></button>
                        </td>
                    </tr>    

                    <!--
                    <tr>
                        <td width="100">
                            <b>Generate Detection Images:&nbsp;</b>
                        </td>
                        <td>
                            <select id="plotImages" name="plotImages">
                                <option value='1'>True</option>
                                <option value='0' selected="selected">False</option>
                            </select>
                            &nbsp;(This option generates a .PNG image for each sample detection on the extraction path only)
                        </td>
                    </tr>
                    -->
                    <tr>
                        <td width="100">
                            <b>Generate Individual Spectrograms:&nbsp;</b>
                        </td>
                        <td>
                            <select id="extractSpectrograms" name="extractSpectrograms">
                                <option value='1'>True</option>
                                <option value='0' selected="selected">False</option>
                            </select>
                            &nbsp; Option needed for the visualization step.
                        </td>
                    </tr>
                    <tr>
                        <td width="300px">
                            <b>Generate 24H Spectrograms:&nbsp;</b>
                        </td>
                        <td>
                            <select id="extract24HSpectrograms" name="extract24HSpectrograms">
                                <option value='1'>True</option>
                                <option value='0' selected="selected">False</option>
                            </select>
                            &nbsp; Option needed for the visualization step.<br>                            
                        </td>
                    </tr>
                    <tr>
                        <td width="300px">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <b>- Maximum frequency (24H Spectrogram):&nbsp;</b>
                        </td>
                        <td>
                            <input id="maximumFrequency24h" name="maximumFrequency24h"> Leave 0 for a full frequency spectrogram (sample rate / 2)
                        </td>
                    </tr>   
                    <tr>
                        <td width="300px">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <b>- Sample window (24H Spectrogram):&nbsp;</b>
                        </td>
                        <td>
                            <select id="timesample24h" name="timesample24h">
                                <option value='10'>10 seconds</option>
                                <option value='20'>20 seconds</option>
                                <option value='30'>30 seconds</option>
                                <option value='60' selected>60 seconds</option>
                                <option value='120'>120 seconds</option>
                            </select>
                        </td>
                    </tr>
                </table>        
            </form>
        </fieldset>
    
        <br>
    
        <fieldset style="width: 98%; height: auto; text-align: left; border-color: #FFFFFF;">
            <legend><strong>Extraction Progress</strong></legend>
            <table width="100%">
                <tr>
                    <td width="20%">
                        <button id="btn1" name="btn1" class="ui-button ui-widget ui-corner-all" onclick="startExtraction();">Begin Extraction</button>
                    </td>
                    <td width="80%">
                        <b>Boat Signatures</b>
                        <div id="progressbar"></div>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        &nbsp;
                    </td>
                    <td width="80%">
                        <b>Boat Spectrograms</b>
                        <div id="progressbarSpec"></div>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        &nbsp;
                    </td>
                    <td width="80%">
                        <b>24H Spectrograms</b>
                        <div id="progressbar24a"></div>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        &nbsp;
                    </td>
                    <td width="80%">
                        <div id="progressbar24b"></div>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Overall Progress Summary:&nbsp;</strong>
                    </td>
                    <td>
                        <input id="progressbar1" name="progressbar1" type="text" size=20 disabled>&nbsp;Signatures extracted
                        <br>
                        <input id="progressbar2" name="progressbar2" type="text" size=20 disabled>&nbsp;Spectrograms generated
                        <br>
                        <input id="progressbar3" name="progressbar3" type="text" size=20 disabled>&nbsp;24H Spectrograms generated
                        <br>
                    </td>
                </tr>
            </table>
            <br>    
        </fieldset>
    </div>
</div>

<script>
$("#threshold").selectmenu();
$("#maximumFrequency").spinner();
$("#maximumFrequency").spinner("value", 1000);
$("#plotImages").selectmenu();
$("#audiochannel").selectmenu();
$("#extractSpectrograms").selectmenu();
$("#extract24HSpectrograms").selectmenu();
$("#maximumFrequency24h").spinner();
$("#maximumFrequency24h").spinner("value", 0);
$("#timesample24h").selectmenu();
$("#fileDateTimeMaskButton").button();    
$("#fileDateTimeMaskButton").click( function( ev ) {
    ev.preventDefault();
 
    var win = window.open("/strftime", "_blank");
    win.focus();
} ); 


function chooseDir(){
    var req = new XMLHttpRequest();
    req.open('GET', '/get_current_path', true);
    req.onreadystatechange = function(e) {

        if(req.readyState !== 4) {
            return;
        }
        if ([200, 304].indexOf(req.status) === -1) {
            console.warn('Error! XHR failed.');
        }
        else {
            json = JSON.parse(e.target.responseText);

            console.log(json);

            document.getElementById("currentPath").value = json.currentPath;
        }
    };
    req.send();
};

function startExtraction(){
    $.ajax({
        type: "POST",
        url: "/set_data_boat",
        data: $("#f1").serialize(),
        success: function(data)
        {
            console.log("New settings defined.");
        }
    });    

    document.getElementById('btn1').disabled = true;
    startProgressBar();
    console.log("Start Extraction...");    
    
    var req = new XMLHttpRequest();
    req.open('GET', '/start_extraction_boat', true);
    req.onreadystatechange = function(e) {

        if(req.readyState !== 4) {
            return;
        }
        if ([200, 304].indexOf(req.status) === -1) {
            console.warn('Error! XHR failed.');
        }
        else {
            json = JSON.parse(e.target.responseText);            
            console.log(json.status);

            document.getElementById('btn1').disabled = false;
        }
    };
    req.send();
};

$("#progressbar").progressbar({value: 0});
$("#progressbarSpec").progressbar({value: 0});
$("#progressbar24a").progressbar({value: 0});
$("#progressbar24b").progressbar({value: 0});
$("#progressbar > div").css({ 'background': '#9ecae1' });
$("#progressbarSpec > div").css({ 'background': '#9ecae1' });
$("#progressbar24a > div").css({ 'background': '#9ecae1' });
$("#progressbar24b > div").css({ 'background': '#9ecae1' });

function startProgressBar(){
    $("#progressbar").progressbar({value: 0});
    $("#progressbarSpec").progressbar({value: 0});
    $("#progressbar24a").progressbar({value: 0});
    $("#progressbar24b").progressbar({value: 0});
    $("#progressbar > div").css({ 'background': '#9ecae1' });
    $("#progressbarSpec > div").css({ 'background': '#9ecae1' });
    $("#progressbar24a > div").css({ 'background': '#9ecae1' });
    $("#progressbar24b > div").css({ 'background': '#9ecae1' });

    var refreshIntervalId = setInterval(function() {    
        var req = new XMLHttpRequest();
        req.open('GET', '/get_progress', true);
        req.onreadystatechange = function(e) {
    
            if(req.readyState !== 4) {
                return;
            }
            if ([200, 304].indexOf(req.status) === -1) {
                console.warn('Error! XHR failed.');
            }
            else {
                $("#progressbar > div").css({ 'background': '#9ecae1' });
                $("#progressbarSpec > div").css({ 'background': '#9ecae1' });
                $("#progressbar24a > div").css({ 'background': '#9ecae1' });
                $("#progressbar24b > div").css({ 'background': '#9ecae1' });

                json = JSON.parse(e.target.responseText);
    
                progress = (json.numCurrentFile * 100) / json.numFiles;
                progressSpec = (json.numCurrentSpectrogram * 100) / json.numFiles;

                if (json.numFiles24h == 0){
                    progress24h = 0;
                    progressSpec24h = 0;
                } else {
                    progress24h = (json.numCurrentFiles24h * 100) / json.numFiles24h;
                    progressSpec24h = (json.numCurrentFilesSpec24h * 100) / json.numFilesSpec24h;
                }

                document.getElementById("progressbar1").value = (json.numCurrentFile + ' of ' + json.numFiles);
                document.getElementById("progressbar2").value = (json.numCurrentSpectrogram + ' of ' + json.numFiles);
                document.getElementById("progressbar3").value = (json.numCurrentFiles24h + ' of ' + json.numFiles24h);

                $("#progressbar")
                    .progressbar({value: parseInt(progress)})
                    .children('.ui-progressbar-value')
                    .html('<div align="right"><font size="5">'+ parseInt(progress) + '%</font></div>')
                    .css("display", "block");
                $("#progressbarSpec")
                    .progressbar({value: parseInt(progressSpec)})
                    .children('.ui-progressbar-value')
                    .html('<div align="right"><font size="5">'+ parseInt(progressSpec) + '%</font></div>')
                    .css("display", "block");
                $("#progressbar24a")
                    .progressbar({value: parseInt(progress24h)})
                    .children('.ui-progressbar-value')
                    .html('<div align="right"><font size="5">'+ parseInt(progress24h) + '%</font></div>')
                    .css("display", "block");
                $("#progressbar24b")
                    .progressbar({value: parseInt(progressSpec24h)})
                    .children('.ui-progressbar-value')
                    .html('<div align="right"><font size="5">'+ parseInt(progressSpec24h) + '%</font></div>')
                    .css("display", "block");    

                if (json.numCurrentFile == json.numFiles) {
                    $("#progressbar > div" ).css({ 'background': '#31a354' });
                };

                if (json.numCurrentSpectrogram == json.numFiles) {
                    $("#progressbarSpec > div" ).css({ 'background': '#31a354' });
                };
                
                if (json.numCurrentFiles24h == json.numFiles24h) {
                    $("#progressbar24a > div" ).css({ 'background': '#31a354' });
                };

                if (json.numCurrentFilesSpec24h == json.numFilesSpec24h) {
                    $("#progressbar24b > div" ).css({ 'background': '#31a354' });
                };

                if ((json.numCurrentFile == json.numFiles) && (json.numCurrentSpectrogram == json.numFiles) &&
                    (json.numCurrentFiles24h == json.numFiles24h) && (json.numCurrentFilesSpec24h == json.numFilesSpec24h)) {
                    clearInterval(refreshIntervalId);
                };
            }
        };
        req.send();
    }, 500);  // time in milliseconds (e.g. every 2 seconds)
};

/*
$("#btn2").click(function() {
    $.ajax({
           type: "POST",
           url: "/set_data",
           data: $("#f1").serialize(),
           success: function(data)
           {
               alert("New settings defined.");
           }
         });

    return false;
});
*/

</script>

</body>
</html>
