<!DOCTYPE html>
<html class="wf-ronnia1-n4-active wf-ronnia1-n7-active wf-ronnia1-n6-active wf-ronnia1-i6-active wf-ronnia1-i7-active wf-ronnia1-i2-active wf-ronnia1-n8-active wf-ronnia1-n2-active wf-ronnia1-i8-active wf-ronnia1-i4-active wf-active">
<head>
    <link rel="shortcut icon" href="static/favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
<title>Seecology - Filename date/time formating tool</title>
    <script src="../static/libs/strftime/vgc5zuz.js"></script><style type="text/css"></style>
    <style type="text/css">.tk-ronnia{font-family:"ronnia-1","ronnia-2",sans-serif;}</style>
    
    <script>try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="../static/libs/strftime/strfstyle.css">
</head>

<body>

    <div id="page-wrap">

        <div id="stay-put">

          <div class="inside">

            <h1>STRFTIME</h1>            
            <p style="text-align:center;">When complete, copy the text below and paste it into the <b>Filename format</b> field.</p>
            <div id="the-meat">
                <textarea id="this-is-it-baby"></textarea>
                <button id="clear"><font color="white">CLEAR</font></button>
            </div>

            <div id="chars">

                <div data-value="/">/</div>

                <div data-value="-">-</div>
                <div data-value="_">_</div>
                <div data-value=",">,</div>
                <div data-value=".">.</div>
                <div data-value=":">:</div>
                <div data-value=" ">space</div>
            </div>

            </div>

        </div>

        <div id="buttons">

            <div id="date">
                <div data-value="%y" class="year"><span>Year</span><strong>%y</strong><em>without century</em></div>
                <div data-value="%Y" class="year"><span>Year</span><strong>%Y</strong><em>with century</em></div>
                <div data-value="%m" class="month"><span>Month</span><strong>%m</strong><em>01 - 12</em></div>
                <div data-value="%b" class="month"><span>Month</span><strong>%b</strong><em>Jan</em></div>
                <div data-value="%B" class="month"><span>Month</span><strong>%B</strong><em>January</em></div>    
                <div data-value="%a" class="day"><span>Day</span><strong>%a</strong><em>Mon</em></div>
                <div data-value="%A" class="day"><span>Day</span><strong>%A</strong><em>Monday</em></div>
                <div data-value="%d" class="day"><span>Day</span><strong>%d</strong><em>01 - 31</em></div>
                <div data-value="%e" class="day"><span>Day</span><strong>%e</strong><em> 1 - 31</em></div>
            </div>


            <div id="time">
                <div data-value="%H" class="hour"><span>Hour</span><strong>%H</strong><em>00 - 23</em></div>
                <div data-value="%I" class="hour"><span>Hour</span><strong>%I</strong><em>01 - 12</em></div>
                <div data-value="%k" class="hour"><span>Hour</span><strong>%k</strong><em>0 - 23</em></div>
                <div data-value="%l" class="hour"><span>Hour</span><strong>%l</strong><em>0 - 12</em></div>
                <div data-value="%M" class="minute"><span>Minute</span><strong>%M</strong><em>00 - 59</em></div>
                <div data-value="%S" class="second"><span>Second</span><strong>%S</strong><em>00 - 59</em></div>   
                <div data-value="%p" class="ampm"><span>AM/PM</span><strong>%p</strong></div>
                <div data-value="%P" class="ampm"><span>am/pm</span><strong>%P</strong></div>    
                
                <div data-value="%Y.%m.%d_%H.%M.%S" class="date"><span>Ex 1:</span><em>2019.12.31_23.59.59 ( %Y.%m.%d_%H.%M.%S )</em></div>
            </div>

            <p style="text-align:center;"><font color="black">Original code by Richard Felix and Chris Coyier.</font></p>
        </div>

    </div>

    <script src="../static/libs/jquery.js"></script>
    <script src="../static/libs/strftime/strf.js"></script>
    <script src="../static/libs/strftime/strftime.js"></script>
	


</body></html>